# Django and related packages
Django==4.1.13
djangorestframework==3.15.1
django-cors-headers==4.3.1

# MongoDB packages
pymongo==4.7.0
mongoengine==0.28.2

# Authentication and environment management
python-dotenv==1.0.1

# WSGI HTTP Server for UNIX
gunicorn==20.1.0

# Other necessary dependencies
certifi==2024.2.2
